.nav-bar-wrap {
    height: 60px !important;
}

p {
    margin-bottom: 0;
}

.nav-bar {
    max-width: 1440px !important;
    width: 100%;
    margin: 0 auto !important;
    height: 100%;
    padding: 0 30px;
    align-content: center;
    display: flex;
    justify-content: space-between;
}

.nav-bar-menu-wrap {
    align-content: center;
    justify-content: flex-end;
    width: fit-content !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
}

.logo-with-ribbon {
    height: 100%;
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}

.ribbon {
    font-weight: 600;
    margin: 0 10px !important;
}

.ribbon:hover {
    color: rgb(173, 1, 1);
    cursor: pointer;
}

.form-control {
    width: 500px;
    height: 35px;
}

.shoppint-cart {
    margin: 0 15px;
}

.shoppint-cart:hover {
    cursor: pointer;
}

.menu-item {
    /* align-items: center !important; */
}

.nav-bar-menu {
    margin-right: 0rem;
}

.nav-bar-logo {
    height: 100% !important;
    margin-left: 0 !important;
    margin-right: 10px;
    width: fit-content !important;
}

.nav-bar-menu {
    width: 150px !important;
}

.img-full-width-1 {
    height: 100%;
    padding: 5px 0;
}

.title-page-3d {
    font-size: 60px;
    margin: 0;
    text-align: center;
}

.sub-title-page-3d {
    font-size: 20px;
    margin: 0;
    text-align: center;
}

.cad-page {
    padding-top: 62px;
    background-color: white;
    color: black;
    height: fit-content !important;
}

.header-banner {
    height: 160px;
    width: 100%;
    /* background: url("./img/back5.jpg"); */
    background-repeat: no-repeat;
    color: #1858A8;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
}

.header-banner .discription {
    max-width: 1000px;
    padding: 0 10px;
    font-size: 19px;
}

.full-content {
    max-width: 1440px;
    padding: 0 30px;
    padding-top: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.full-content-left {
    width: 75%;
    padding-left: 20px;
}

.header-left-content {
    height: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.header-left-content .tile-cate {
    font-size: 25px;
    color: #1858A8;
}

.header-left-content p {
    font-size: 14px;
    margin-left: 10px;
}

.view-all {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.view-all p {
    margin-right: 4px;
    font-weight: 600;
    color: #1c88bb;
    text-decoration: underline;
}

.view-all p:hover {
    color: rgb(180, 6, 6);
    cursor: pointer;
}

.content-left-models {
    margin-top: 15px;
    padding-left: 0 35px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.model-job-all {
    width: 32%;
    height: 220px;
    margin-bottom: 35px;
    background-color: white;
    box-shadow: 3px 3px 20px #c2c2c2;
    transition: ease-in-out 0.1s;
    border-radius: 3px;
    border: 1px solid black;
}

.model-job-all:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 3px 3px 20px #97deff;
}

.model-img {
    height: 180px;
    width: 100%;
}

.model-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 3px;
}

.model-text {
    height: 38px;
    display: flex;
    padding: 0 5px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    background-color: #505050;
    color: white;
}

.avatar-name {
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.avatar-name img {
    height: 20px;
    object-fit: cover;
    margin-right: 5px;
}

.avatar-name p {
    font-weight: 600;
}

.rating-model {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.rating-model p {
    margin: 0 4px;
}

.full-content-right {
    width: 25%;
    padding: 0 10px;
    border-right: 2px solid #adadad;
}

.related-tag {
    background-color: #f3f3f3;
    border: 1px solid #c5c5c5;
    border-radius: 3px;
    padding: 20px;
    font-size: 14px;
    line-height: 1.3em;
    box-shadow: 0 1px 5px 0 rgb(85 85 85 / 15%);
    box-shadow: 0 1px 5px 0 rgb(85 85 85 / 15%);
}

.related-tag.gray {
    background-color: #dedede;
}

.filter-list {
    display: flex;
    flex-direction: column;
}

.filer-type {
    height: 35px;
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 0 10px;
    border-radius: 3px;
    border: 1px solid gray;
    margin: 5px 0;
    transition: ease-in-out 0.1s;
}

.filer-type p {
    color: #1858A8;
}

.filer-type:hover {
    cursor: pointer;
    font-weight: 600;
    background-color: #e9e9e9;
    /* transform: scale(1.02); */
}

.sidebar-title {
    display: block;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 600;
    line-height: 1;
    color: black;
    text-transform: uppercase;
}

.tag-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tag-item {
    margin-right: 12px;
    margin-bottom: 10px;
    height: 30px;
    background-color: rgb(221, 221, 221);
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tag-item:hover {
    cursor: pointer;
    background-color: rgb(156, 156, 156);
}

.tag-item:hover p {
    font-weight: 600;
}

.tag-item p {
    margin: 0 12px;
}

.store-box {
    height: 150px;
    margin: 20px 0;
    border-radius: 3px;
    box-shadow: 0 1px 5px 0 rgb(85 85 85 / 15%);
    background: linear-gradient(45deg, #a60b43, #f42671);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease-in-out 0.1s;
}

.store-box:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.store-box p {
    font-size: 35px;
    color: white;
    font-weight: 600;
}

.contributor-all {
    margin-bottom: 10px;
    height: 35px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.contributor-all .avatar-name img {
    height: 90% !important;
    margin-right: 10px;
}

.folow-btn {
    height: 100%;
    background-color: #1caad9;
    width: 90px;
    border-radius: 5px;
    transition: ease-in-out 0.3s;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.folow-btn:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.folow-btn p {
    color: white;
    font-weight: 600;
}

.modal-dialog {
    max-width: 1500px;
    height: 750px;
    background-color: white;
}

.modal-content {
    height: 100%;
}

.modal-title {
    font-weight: 600;
}

.infor-detail {
    display: flex;
    flex-direction: row;
    color: rgb(88, 88, 88);
    font-size: 14px;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

.infor-detail p {
    margin-left: 10px;
}

.money-add-cart {
    margin: 20px 0;
    height: 60px;
    width: 100%;
    background-color: #df1660;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.money-add-cart:hover {
    cursor: pointer;
}

.money-add-cart p {
    font-size: 20px;
    font-weight: 600;
    color: white;
    text-align: center;
}

.inspect-review {
    margin-top: 10px;
    border-bottom: 1px solid gray;
}

.c-payment-solutions {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #555;
}

.c-payment-solutions__image.--card-visa {
    background-image: url(./img/pay/visa.svg);
}

.c-payment-solutions__image.--card-mastercard {
    background-image: url(./img/pay/mas.svg);
}

.c-payment-solutions__image.--card-amex {
    background-image: url(./img/pay/m2.svg);
}

.c-payment-solutions__image.--paypal {
    background-image: url(./img/pay/pay.svg);
}

.c-payment-solutions__image {
    display: inline;
    height: 21px;
    width: 42px;
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
}

.c-payment-solutions__image:hover {
    cursor: pointer;
}

.via {
    margin: 0 5px;
}

.inspect-model {
    background-color: rgb(209, 209, 209);
    height: 60%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.inspect-model-text {
    height: 40px;
    width: 100%;
    background-color: #0198fc;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inspect-model-text p {
    font-size: 18px;
    font-weight: 600;
    color: white;
    text-align: center;
}

.category-model {
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 3% 2% 3%;
}

.category-model:hover img {
    transform: scale(1.05);
}

.category-model a {
    margin-top: 10px;
    color: #1858A8;
}

.text-hover:hover {
    font-weight: 600;
    color: rgb(156, 0, 0);
}


/*! normalize.css v3.0.0 | MIT License | git.io/normalize */

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

section {
    display: block
}

a {
    background: transparent
}

strong {
    font-weight: bold
}

h1 {
    font-size: 2em;
    margin: 0.67em 0
}

img {
    border: 0
}

button,
input {
    color: inherit;
    font: inherit;
    margin: 0
}

button {
    overflow: visible
}

button {
    text-transform: none
}

button {
    -webkit-appearance: button;
    cursor: pointer
}

input {
    line-height: normal
}

html,
body {
    height: 100%
}

body {
    display: flex;
    position: relative;
    right: 0;
    background: #f4f6f7;
    font-size: 16px;
    line-height: 22px;
    flex-direction: column;
    transition: 0.3s ease-in-out right;
    overflow-x: hidden
}


/* .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1
} */


/* 
.fas {
    font-family: Font Awesome\ 5 Pro;
    font-weight: 900
} */


/*!
 * Font Awesome Free 5.0.13 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 */

.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -.125em
}


/*!
 * Bootstrap Grid v4.0.0-beta.2 (https://getbootstrap.com)
 * Copyright 2011-2017 The Bootstrap Authors
 * Copyright 2011-2017 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

html {
    box-sizing: border-box;
    -ms-overflow-style: scrollbar
}

*,
*::before,
*::after {
    box-sizing: inherit
}

.container-fixed {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 12px;
    padding-left: 12px
}

@media (min-width: 576px) {
    .container-fixed {
        padding-right: 24px;
        padding-left: 24px
    }
}

@media (min-width: 968px) {
    .container-fixed {
        padding-right: 0;
        padding-left: 0
    }
}

@media (min-width: 1256px) {
    .container-fixed {
        padding-right: 0;
        padding-left: 0
    }
}

@media (min-width: 1576px) {
    .container-fixed {
        padding-right: 0;
        padding-left: 0
    }
}

@media (min-width: 968px) {
    .container-fixed {
        max-width: 840px
    }
}

@media (min-width: 1256px) {
    .container-fixed {
        max-width: 1104px
    }
}

@media (min-width: 1576px) {
    .container-fixed {
        max-width: 1392px
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -6px;
    margin-left: -6px
}

@media (min-width: 576px) {
    .row {
        margin-right: -6px;
        margin-left: -6px
    }
}

@media (min-width: 968px) {
    .row {
        margin-right: -6px;
        margin-left: -6px
    }
}

@media (min-width: 1256px) {
    .row {
        margin-right: -12px;
        margin-left: -12px
    }
}

@media (min-width: 1576px) {
    .row {
        margin-right: -12px;
        margin-left: -12px
    }
}

@media (min-width: 1848px) {
    .row {
        margin-right: -12px;
        margin-left: -12px
    }
}

.col-12,
.col-sm-4,
.col-md-6,
.col-lg-5,
.col-lg-10,
.col-xl-4,
.col-xl-8 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 6px;
    padding-left: 6px
}

@media (min-width: 576px) {
    .col-12,
    .col-sm-4,
    .col-md-6,
    .col-lg-5,
    .col-lg-10,
    .col-xl-4,
    .col-xl-8 {
        padding-right: 6px;
        padding-left: 6px
    }
}

@media (min-width: 968px) {
    .col-12,
    .col-sm-4,
    .col-md-6,
    .col-lg-5,
    .col-lg-10,
    .col-xl-4,
    .col-xl-8 {
        padding-right: 6px;
        padding-left: 6px
    }
}

@media (min-width: 1256px) {
    .col-12,
    .col-sm-4,
    .col-md-6,
    .col-lg-5,
    .col-lg-10,
    .col-xl-4,
    .col-xl-8 {
        padding-right: 12px;
        padding-left: 12px
    }
}

@media (min-width: 1576px) {
    .col-12,
    .col-sm-4,
    .col-md-6,
    .col-lg-5,
    .col-lg-10,
    .col-xl-4,
    .col-xl-8 {
        padding-right: 12px;
        padding-left: 12px
    }
}

@media (min-width: 1848px) {
    .col-12,
    .col-sm-4,
    .col-md-6,
    .col-lg-5,
    .col-lg-10,
    .col-xl-4,
    .col-xl-8 {
        padding-right: 12px;
        padding-left: 12px
    }
}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%
}

@media (min-width: 576px) {
    .col-sm-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%
    }
}

@media (min-width: 968px) {
    .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%
    }
}

@media (min-width: 1256px) {
    .col-lg-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
        padding-top: 10%;
    }
    .col-lg-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%
    }
    .offset-lg-1 {
        margin-left: 5%
    }
}

@media (min-width: 1576px) {
    .col-xl-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%
    }
    .col-xl-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%
    }
    .offset-xl-2 {
        margin-left: 16.66667%
    }
}

.align-items-center {
    align-items: center !important
}

.heading-40,
.heading-24,
.heading-16 {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #204659;
    font-weight: 600
}

.heading-40 {
    font-size: 2.5rem;
    line-height: 100px;
}

.heading-24 {
    font-size: 1.5rem;
    line-height: 32px
}

.heading-16 {
    font-size: 1rem;
    line-height: 20px
}

@media (max-width: 967px) {}

.svg-inline--fa {
    margin-right: 5px;
    vertical-align: baseline
}

.rating-indicator--dynamic:not(:hover) {
    border-color: #d7dfe3;
    background-color: #fff;
    color: #485c66;
    font-weight: 400
}

@media (max-width: 967px) {}

.site-search {
    display: block;
    width: 100%;
    position: relative
}

.site-search__field {
    display: inline-block;
    width: 100%;
    height: 40px;
    padding: 0 60px 0 10px;
    border: 0;
    border-radius: 3px;
    background: white;
    color: black;
    font-size: 1rem;
    line-height: 16px;
    font-weight: 300
}

.site-search__field:-moz-placeholder {
    color: #688493
}

.site-search__field::-moz-placeholder {
    color: #688493
}

.site-search__field:-ms-input-placeholder {
    color: #688493
}

.site-search__field::-webkit-input-placeholder {
    color: #688493
}

.site-search__button {
    display: inline-block;
    width: 32px;
    height: 40px;
    border: 0;
    background: none;
    color: #41a48f;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 5px;
    opacity: 1;
    transition: 0.3s ease-in-out opacity
}

.site-search__button:hover {
    color: #ce3c5c
}

.header__content .site-search__field {
    padding: 0 60px 0 20px;
    height: 70px;
    border-radius: 5px;
    line-height: 70px;
    font-size: 1.5625rem
}

.header__content .site-search__button {
    height: 70px;
    width: 130px;
    border-radius: 0 5px 5px 0;
    background: #67c4b0;
    font-size: 1.25rem;
    color: white;
    line-height: 70px;
    text-align: center;
    right: 0;
    transition: 0.15s ease-in-out all
}

.header__content .site-search__button:hover {
    background: #ce3c5c
}

.header__content .site-search-suggestions {
    top: 90px
}

.site-search-suggestions {
    display: block;
    width: 100%;
    border-radius: 3px;
    background: #2e343a;
    color: white;
    position: absolute;
    left: 0;
    z-index: 500
}


/*!
 * Font Awesome Pro 5.8.1 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license (Commercial License)
 */


/* 
.fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1
}

.fa-search:before {
    content: "\f002"
} */

body {
    background-color: #f7f9fa
}

[class*="heading-"] {
    margin-top: 0;
    color: #1858A8;
    font-weight: 400
}

[class*="heading-"] strong {
    font-weight: 700
}

a {
    color: #2baf9f;
    text-decoration: none
}

.header__viewer-container {
    display: block;
    width: 328px;
    height: 328px;
    margin: 0 auto
}

@media (min-width: 576px) {
    .header__viewer-container {
        width: 100%;
        min-height: 460px
    }
}

@media (min-width: 968px) {
    .header__viewer-container {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-flow: column;
        align-self: center
    }
}

.header__viewer {
    position: relative;
    margin: 32px 0;
    text-align: center
}

.header__content .header__tag-line {
    margin: 0 0 8px;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    line-height: 24px
}

.header__content .header__title {
    font-size: 2.6875rem;
    margin: 0 0 20px;
    letter-spacing: -0.72px;
    line-height: 52px
}

.header__content p {
    font-size: 1.25rem;
    line-height: 28px;
    font-weight: 300
}

.header__content .site-search__field {
    font-size: 1rem;
    height: 48px;
    border: 1px solid #d5d5d5;
    border-radius: 2px;
    background: #fff;
    padding: 0 12px;
    line-height: 48px;
    font-weight: 400
}

.header__content .site-search__button {
    box-shadow: 0 8px 24px -4px rgba(0, 20, 31, 0.22);
    border-radius: 1px;
    background-color: #2baf9f
}

.header__content .site-search__button:hover {
    background-color: #252728
}

.header__content .site-search__button {
    width: 62px;
    height: 48px;
    line-height: 48px
}

.header__content .site-search__button .svg-inline--fa {
    stroke: #2baf9f;
    stroke-width: 25px;
    transition: stroke 0.25s ease-in
}

.header__content .site-search__button span {
    display: none
}

.header__content .site-search__button:hover .svg-inline--fa {
    stroke: #252728
}

.header__content .site-search-suggestions {
    box-shadow: 0 8px 24px -4px rgba(0, 20, 31, 0.22);
    top: 60px;
    background-color: #fff
}

@media (max-width: 967px) {
    .header__content {
        margin-top: 20px;
        text-align: center
    }
    .header__content .header__tag-line {
        font-size: 0.875rem
    }
    .header__content .header__title {
        font-size: 2rem;
        line-height: 40px
    }
    .header__content p {
        line-height: 32px
    }
    .header__content .site-search {
        margin: 0 auto
    }
}

@media (min-width: 968px) {
    .header__viewer {
        margin: 0
    }
}

.info-section.info-section--white {
    background-color: #fff
}

.info-section__heading {
    font-size: 2rem;
    background-image: url("src/3d-cad/img/back5.jpg");
}

@media (min-width: 968px) {
    .info-section__heading {
        font-size: 2.75rem
    }
}

@media (max-width: 967px) {
    .info-section__heading {
        text-align: center
    }
}

.info-section__description {
    line-height: 32px
}

.info-section__description {
    font-size: 1.25rem;
    font-weight: 300
}

.info-section__image-list {
    margin-top: 20px
}

.info-section__image-list .image-with-spacing {
    margin-bottom: 32px
}

.info-section__image-list .info-section__description {
    text-align: left
}

.category-model {
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 3% 2% 3%;
    /* border: 1px solid black; */
}

.category-model .img__overfit {
    width: 100%;
    overflow: hidden;
}

.category-model img {
    width: 100%;
    object-fit: cover;
    /* border: 2px solid gray; */
    /* box-shadow: 0 2px 8px 0 rgb(85 85 85 / 15%); */
    transition: ease-in-out 0.2s;
    cursor: pointer;
}

.category-model:hover img {
    transform: scale(1.1);
}

.category-model a {
    color: #1858A8;
}

#view-model-3d-image img {
    height: 100%;
}

.all__content {
    /* max-width: 1280px !important; */
    margin: auto !important;
    width: 100%;
}

.text__title {
    width: 60%;
    margin: auto;
}

.text__title h2,
.text__title p {
    text-align: center;
}