	/* Coded with love by Mutiullah Samim */
	/* edited with love by SonNH */

	body,
	html {
		margin: 0;
		padding: 0;
		height: 100%;
	}

	a {
		color: #2b59c0;
	}

	.user_card {
		height: 400px;
		width: 350px;
		margin-top: auto;
		margin-bottom: auto;
		/* background: #f39c12; */
		/* background-image: linear-gradient(90deg, #4d72a0 0%, #37b3ec 100%); */
		background-color: #0e79c1;
		position: absolute;
		top: 15rem;
		display: flex;
		justify-content: center;
		flex-direction: column;
		padding: 10px;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		border-radius: 5px;

	}

	.brand_logo_container {
		position: absolute;
		height: 170px;
		width: 170px;
		top: -75px;
		border-radius: 50%;
		/* background: #60a3bc; */
		background-image: linear-gradient(90deg, #4d72a0 0%, #37b3ec 100%);
		padding: 10px;
		text-align: center;
	}

	.brand_logo {
		height: 150px;
		width: 150px;
		border-radius: 50%;
		border: 2px solid white;
	}

	.form_container {
		margin-top: 100px;
	}

	.login_btn {
		width: 100%;
		background: #2b59c0 !important;
		color: white !important;
	}

	.login_btn:focus {
		box-shadow: none !important;
		outline: 0px !important;
	}

	.login_container {
		padding: 0 2rem;
	}

	.input-group-text {
		background: #2b59c0 !important;
		color: white !important;
		border: 0 !important;
		border-radius: 0.25rem 0 0 0.25rem !important;
	}

	.input_user,
	.input_pass:focus {
		box-shadow: none !important;
		outline: 0px !important;
	}

	.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
		background-color: #2b59c0 !important;
	}

	/* phamhoan */
	.row {
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 60px 0;
	}

	#contentform {
		padding-top: 60px;
		display: flex;
		justify-content: center;
		background: rgba(0, 0, 0, .7);

		background-image: url("./../3d-cad/img/back5.jpg");
		/* height: 800px; */
	}

	.content__form {
		width: 430px;
		height: 550px;

		box-shadow: 2px 2px 20px rgb(87, 87, 87);
		border-radius: 10px;
		background-color: white;
		margin: auto;
	}

	.form__title {
		height: 70px;
		border-bottom: 1px solid rgb(196, 196, 196);
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.form__title p {
		font-size: 30px;
		padding-left: 20px;
		margin: 0 !important;
	}

	/* SonNH 20210830 */
	.form__title .close-wrap {
		margin: 20px;
		background-color: white;
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0.5rem;
	}

	.form__title .close-wrap--hover {
		padding: 0.5rem;
		margin: 20px;
		background-color: white;
		cursor: pointer;
		display: none;
		justify-content: center;
		align-items: center;
	}




	.form__input {
		padding: 30px;
		display: flex;
		flex-direction: column;
	}

	.form__lable {
		margin: 0 !important;
		padding: 0 !important;

		margin-bottom: 8px !important;
		font-size: 14px;
		color: black;

	}

	.form__textbox {
		background: #e8f0fe;
		display: block;
		padding: 10px 15px;
		font-family: sans-serif;
		font-size: 15px;
		line-height: 25px;
		border: 1px solid transparent;
		border-radius: 4px;
		outline: none;
		width: 100%;
		height: auto;
		box-sizing: border-box;

		margin-bottom: 12px;
	}

	.form__password {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-content: center;
		justify-content: space-between;
		align-items: center;
	}

	#icon__eyes {
		position: absolute;
		right: 15px;
		bottom: 28px;
		z-index: 10;
		cursor: pointer;
	}

	.form_passtext {
		position: relative;
	}

	.button__login {
		height: 45px;
		background: #1caad9;
		border-radius: 4px;
		margin-top: 10px;

		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
	}

	.button__login p {
		margin: 0 !important;
		color: white;
		font-weight: 600;
		font-size: 14px;
	}

	.form__others {
		margin-top: 20px;
		display: flex;
		flex-direction: column;
		justify-items: center;
		justify-content: center;
		align-items: center;
	}

	.other__text-bold {
		margin: 0 !important;
		color: black;
		font-weight: 600;
		font-size: 14px;
	}

	.others__social {
		margin-top: 5px;
		width: 100%;
		display: flex;
		justify-items: center;
		justify-content: space-between;
		align-items: center;

	}

	.others__item {
		height: 40px;
		width: 88px !important;
		border: 1px solid rgb(194, 194, 194);
		border-radius: 4px;
		width: 24%;

		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-content: center;
		justify-content: center;
		align-items: center;
		cursor: pointer;
	}

	.others__item p {
		font-size: 13px;
		color: #999;
		margin: 0 !important;
		padding-left: 2px;
	}


	.text__account {
		font-size: 14px;
		margin-top: 30px;
		color: #1caad9;
		font-weight: 700;
		margin-bottom: 5px !important;
		cursor: pointer;
	}

	.others__additional {
		display: flex;
		flex-direction: row;
	}

	.others__additional a {
		font-size: 13px;
		color: gray !important;
		cursor: pointer;
		margin: 0 4px;
	}

	.others__additional a:hover {
		text-decoration: underline !important;
		color: red !important;
	}